.centerItems {
    text-align: center;
}

.centerItems .header {
    font-weight: 100px;
    color: white;
    background-color: black;
}

.listItemContainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;

    margin: 5px;
}